html, body {
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  outline: none; }

ul {
  margin: 0 !important; }
  ul li {
    list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

img {
  border: 0;
  vertical-align: initial; }

.layout {
  width: 1170px;
  margin: 0 auto; }

.error-msg {
  top: 10%;
  left: 5%;
  width: 90%;
  height: 60px;
  position: absolute;
  z-index: 9999;
  text-align: center;
  pointer-events: none; }
  .error-msg span {
    line-height: 60px;
    padding: 20px 15px;
    color: #464646;
    font-size: 14px;
    text-align: center;
    background: #eee;
    border-radius: 5px;
    opacity: 0;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: opacity .5s;
    transition: opacity .5s; }
    .error-msg span.msg-active {
      opacity: 1; }

.hexagon_include {
  width: 100%;
  height: 100%; }

.hexagon {
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  transform: rotate(120deg); }
  .hexagon .hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg); }
    .hexagon .hexagon-in1 .hexagon-in2 {
      width: 100%;
      height: 100%;
      visibility: visible;
      transform: rotate(-60deg); }

.modal-header .close {
  font-size: 24px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }
  .modal-header .close:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); }

.m150 {
  margin-top: 150px; }

.m40 {
  margin-top: 40px; }

.m120 {
  margin-top: 120px; }

.m100 {
  margin-top: 100px; }

.m60 {
  margin-top: 60px; }

.mtop {
  padding-top: 10px;
  margin-bottom: 10px; }

.mtop-btn {
  margin-top: 20px;
  margin-bottom: 10px; }

.mtop-btn .btn-paddings {
  padding: 10px 0;
  font-size: 20px; }

.m-left .row {
  margin-left: 40px;
  margin-right: 40px; }

.form-control-feedback {
  height: 44px;
  line-height: 44px; }

#SEND {
  font-size: 18px; }

#Crawler {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ededed;
  padding-top: 100px; }
  #Crawler .Crawler_close {
    width: 95%;
    overflow: hidden;
    clear: both; }
    #Crawler .Crawler_close .close {
      font-size: 30px; }
  #Crawler .Crawler_title {
    width: 100%;
    text-align: center;
    margin-bottom: 70px; }
    #Crawler .Crawler_title img {
      height: 60px; }
  #Crawler .contain {
    width: 1170px;
    margin: 0 auto; }
    #Crawler .contain .contain1 {
      text-align: center;
      font-size: 45px;
      color: #1085e4;
      height: 197px;
      line-height: 197px;
      background: #fff;
      margin-bottom: 20px;
      border-radius: 4px;
      box-shadow: 0px 0px 10px #cde0ee; }
    #Crawler .contain .contain2 {
      height: 480px;
      margin-bottom: 20px;
      overflow-y: auto;
      overflow-x: hidden; }
      #Crawler .contain .contain2 .zeromargin {
        margin-right: 0px !important; }
      #Crawler .contain .contain2 .apply {
        height: 457px;
        background: #fff;
        width: 370px;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px; }
        #Crawler .contain .contain2 .apply .img {
          height: 188px;
          position: relative; }
          #Crawler .contain .contain2 .apply .img img {
            display: block;
            margin: auto;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0; }
        #Crawler .contain .contain2 .apply .name {
          width: 282px;
          margin: 0 auto 50px;
          font-size: 30px;
          color: #464646;
          text-align: center;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        #Crawler .contain .contain2 .apply .time {
          width: 145px;
          margin: 0 auto 30px;
          color: #464646;
          font-size: 14px; }
          #Crawler .contain .contain2 .apply .time .time2 .aa {
            color: #60b027; }
          #Crawler .contain .contain2 .apply .time .time2 .as {
            color: #464646; }
          #Crawler .contain .contain2 .apply .time .time2 .ad {
            color: #a94442; }
        #Crawler .contain .contain2 .apply .admin {
          width: 90px;
          height: 30px;
          line-height: 30px;
          margin: 0 auto;
          background: #1080e4;
          font-size: 14px;
          text-align: center;
          color: #fff;
          border-radius: 4px;
          cursor: pointer; }

.overSet {
  width: 200px;
  float: left; }
  .overSet .over_logo {
    width: 100%;
    height: 100px;
    background: #1a1a1a;
    padding: 33px 0 32px; }
    .overSet .over_logo .contain {
      text-align: center;
      font-size: 23px;
      color: #fff; }
  .overSet .over_set {
    width: 100%;
    background: #0d3b75;
    padding-top: 20px;
    min-height: 980px; }
    .overSet .over_set .set1 {
      text-align: center;
      margin-bottom: 20px; }
      .overSet .over_set .set1 span {
        display: inline-block;
        width: 60px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #eeeeee;
        font-size: 14px;
        color: #464646;
        border-radius: 4px;
        cursor: pointer; }
      .overSet .over_set .set1 .span1 {
        margin-right: 10px; }
    .overSet .over_set .set2 {
      width: 100%; }
      .overSet .over_set .set2 .s1 {
        padding-left: 20px;
        height: 40px;
        cursor: pointer; }
        .overSet .over_set .set2 .s1 img {
          vertical-align: middle; }
        .overSet .over_set .set2 .s1 span {
          display: inline-block;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          color: #fff;
          margin-left: 5px; }

.overHead {
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  float: left;
  height: 90px;
  background: #eeeeee;
  text-align: right; }
  .overHead span {
    display: inline-block;
    font-size: 14px;
    color: #5b5b5b;
    height: 90px;
    line-height: 90px;
    cursor: pointer; }
  .overHead .head_span1 {
    margin-right: 50px; }
  .overHead .head_span2 {
    margin-right: 21px; }

#password {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2; }
  #password .contain {
    width: 500px;
    margin: auto;
    background: white;
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -250px;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    padding: 24px 40px 40px;
    box-sizing: border-box;
    border-radius: 4px; }
    #password .contain .close {
      font-size: 25px; }
    #password .contain .title {
      text-align: center;
      font-size: 30px;
      height: 30px;
      line-height: 30px;
      color: #4b5861;
      margin-bottom: 50px; }
    #password .contain .input_name {
      width: 350px;
      margin: 0px auto 30px;
      background: #f9f9f9; }
      #password .contain .input_name input {
        width: 100%;
        height: 37px;
        padding-left: 20px;
        font-size: 16px;
        border: 1px solid #dfdfdf;
        border-radius: 4px; }
        #password .contain .input_name input:focus {
          border: 1px solid #28b0f8; }
    #password .contain .input_password {
      width: 350px;
      margin: 0px auto 30px; }
      #password .contain .input_password input {
        width: 100%;
        height: 37px;
        padding-left: 20px;
        font-size: 16px;
        border: 1px solid #dfdfdf;
        border-radius: 4px; }
        #password .contain .input_password input:focus {
          border: 1px solid #28b0f8; }
    #password .contain .login_error {
      width: 350px;
      margin: 0px auto 15px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #e87171;
      font-size: 16px;
      background: #f2dedf;
      border-radius: 4px; }
    #password .contain .submit {
      width: 350px;
      margin: 0px auto;
      height: 40px;
      background: #1085e4;
      line-height: 40px;
      text-align: center;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
      border-radius: 4px; }

.order {
  width: 100%; }
  .order .order_list1 {
    width: 18%;
    border-right: 1px solid #f5f3f3; }
  .order .order_list2 {
    width: 20%;
    border-right: 1px solid #f5f3f3; }
  .order .order_list3 {
    width: 44%;
    border-right: 1px solid #f5f3f3; }
  .order .order_list4 {
    width: 18%; }
  .order .order_title {
    background: #fafafa;
    overflow: hidden;
    clear: both; }
    .order .order_title li {
      float: left;
      height: 39px;
      line-height: 39px;
      text-align: center;
      font-size: 14px;
      color: #464646; }
  .order .order_list {
    overflow: hidden;
    clear: both; }
    .order .order_list li {
      float: left;
      height: 39px;
      line-height: 39px;
      text-align: center;
      font-size: 14px;
      color: #464646; }
      .order .order_list li.order_list4 {
        color: #1085e4; }
        .order .order_list li.order_list4 span {
          cursor: pointer; }
  .order .order_listeven {
    background: #fcfdff; }
  .order .order_listodd {
    background: #ffffff; }

.task {
  width: 100%; }
  .task .task_list1 {
    width: 24%;
    border-right: 1px solid #f5f3f3; }
  .task .task_list2 {
    width: 24%;
    border-right: 1px solid #f5f3f3; }
  .task .task_list3 {
    width: 18%;
    border-right: 1px solid #f5f3f3; }
  .task .task_list4 {
    width: 17%;
    border-right: 1px solid #f5f3f3; }
  .task .task_list5 {
    width: 17%; }
  .task .task_title {
    background: #fafafa;
    overflow: hidden;
    clear: both; }
    .task .task_title li {
      float: left;
      height: 39px;
      line-height: 39px;
      text-align: center;
      font-size: 14px;
      color: #464646; }
  .task .task_list {
    overflow: hidden;
    clear: both; }
    .task .task_list li {
      float: left;
      height: 39px;
      line-height: 39px;
      text-align: center;
      font-size: 14px;
      color: #464646; }
      .task .task_list li.task_list5 {
        color: #1085e4; }
        .task .task_list li.task_list5 span {
          cursor: pointer; }
  .task .task_listeven {
    background: #fcfdff; }
  .task .task_listodd {
    background: #ffffff; }

#details {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(51, 51, 51, 0.7); }
  #details .contain {
    width: 800px;
    height: 640px;
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 20px; }
    #details .contain .detail_title {
      margin-bottom: 20px; }
      #details .contain .detail_title .title {
        font-size: 14px;
        color: #464646; }
        #details .contain .detail_title .title .closed {
          position: relative;
          left: 10px;
          float: right;
          width: 20px;
          height: 20px;
          background: url("../img/closed.png") no-repeat center;
          cursor: pointer; }
    #details .contain .details_contain {
      height: 560px;
      border: 1px solid #c9c9c9;
      overflow-y: auto;
      overflow-x: hidden; }
      #details .contain .details_contain pre {
        background-color: #fff;
        font-size: 14px;
        border: 0;
        color: #464646;
        line-height: 3; }

#paging {
  float: right;
  height: 35px;
  width: 450px;
  margin-top: 20px; }
  #paging .pagingcontain {
    display: inline-block; }
    #paging .pagingcontain .page_disabled {
      background: #cccccc; }
      #paging .pagingcontain .page_disabled a {
        color: #eee; }
    #paging .pagingcontain .page_active {
      background: #1085e4; }
      #paging .pagingcontain .page_active a {
        color: #fff; }
    #paging .pagingcontain li {
      display: inline-block;
      background: #fff;
      border-radius: 4px;
      margin-right: 10px; }
      #paging .pagingcontain li a {
        display: inline-block;
        width: 35px;
        height: 35px;
        font-size: 14px;
        color: #464646;
        text-align: center;
        line-height: 35px; }
        #paging .pagingcontain li a:hover {
          text-decoration: none; }
  #paging span {
    display: inline-block;
    height: 35px;
    line-height: 35px; }

#taskpaging {
  float: right;
  height: 35px;
  width: 450px;
  margin-top: 20px; }
  #taskpaging .pagingcontain {
    display: inline-block; }
    #taskpaging .pagingcontain .page_disabled {
      background: #cccccc; }
      #taskpaging .pagingcontain .page_disabled a {
        color: #eee; }
    #taskpaging .pagingcontain .page_active {
      background: #1085e4; }
      #taskpaging .pagingcontain .page_active a {
        color: #fff; }
    #taskpaging .pagingcontain li {
      display: inline-block;
      background: #fff;
      border-radius: 4px;
      margin-right: 10px; }
      #taskpaging .pagingcontain li a {
        display: inline-block;
        width: 35px;
        height: 35px;
        font-size: 14px;
        color: #464646;
        text-align: center;
        line-height: 35px; }
        #taskpaging .pagingcontain li a:hover {
          text-decoration: none; }
  #taskpaging span {
    display: inline-block;
    height: 35px;
    line-height: 35px; }

#download {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2; }
  #download .contain {
    width: 1165px;
    height: 300px;
    margin: auto;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -580px;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    box-sizing: border-box;
    border-radius: 4px; }
    #download .contain .contain1 {
      width: 100%;
      background: #fff; }
      #download .contain .contain1 .title {
        width: 100%;
        padding: 15px 10px 15px 0;
        height: 60px; }
        #download .contain .contain1 .title div {
          color: #464646;
          font-size: 14px; }
        #download .contain .contain1 .title .title1 {
          width: 160px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          display: inline-block; }
        #download .contain .contain1 .title .title2 {
          width: 220px;
          display: inline-block;
          padding-left: 20px;
          border: 1px solid #e2e5ec;
          position: relative; }
          #download .contain .contain1 .title .title2 .selected {
            height: 30px;
            line-height: 30px;
            background: url(../img/down.png) no-repeat 170px center; }
          #download .contain .contain1 .title .title2 .select {
            position: absolute;
            width: 220px;
            height: 151px;
            left: 0px;
            top: 32px;
            border: 1px solid #e2e5ec;
            border-top: none;
            background: #fff;
            overflow-y: auto;
            overflow-x: hidden; }
            #download .contain .contain1 .title .title2 .select .select1 {
              padding-left: 20px;
              border-bottom: 1px solid #e2e5ec;
              height: 30px;
              line-height: 30px;
              cursor: pointer; }
              #download .contain .contain1 .title .title2 .select .select1:hover {
                background: #1085e4; }
        #download .contain .contain1 .title .all {
          float: right;
          margin-right: 10px; }
          #download .contain .contain1 .title .all .close {
            font-size: 25px; }
        #download .contain .contain1 .title .select_change .selected {
          background: url(../img/up.png) no-repeat 170px center; }

/*# sourceMappingURL=common.css.map */
