html,body{
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
ul{
  margin: 0!important;
  li{
    list-style: none;
  }
}
a{
  text-decoration: none;
  cursor: pointer;
  &:link{
    cursor: pointer;
    text-decoration: none;
  }
  &:visited{
    cursor: pointer;
    text-decoration: none;
  }
  &:hover{
    cursor: pointer;
    text-decoration: none;
  }
  &:active{
    cursor: pointer;
    text-decoration: none;
  }
}
img{
  border: 0;
  vertical-align: initial;
}
.layout{
  width: 1170px;
  margin: 0 auto;
}
input:-webkit-autofill {

  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.error-msg {
  top: 10%;
  left: 5%;
  width: 90%;
  height: 60px;
  position: absolute;
  z-index: 9999;
  text-align: center;
  pointer-events: none;
  span {
    line-height: 60px;
    padding: 20px 15px;
    color: #464646;
    font-size: 14px;
    text-align: center;
    background: #eee;
    border-radius: 5px;
    opacity: 0;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    &.msg-active {
      opacity: 1;
    }
  }
}

.hexagon_include{
  width: 100%;
  height: 100%;
}
.hexagon {
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  transform: rotate(120deg);
  .hexagon-in1 {
      overflow: hidden;
      width: 100%;
      height: 100%;
      transform: rotate(-60deg);
      .hexagon-in2{
          width: 100%;
          height: 100%;
          visibility: visible;
          transform: rotate(-60deg);
      }
    }
}

.modal-header {
  .close{
    font-size:24px;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    &:hover{
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

}
.m150{
  margin-top:150px;
}
.m40{
  margin-top:40px;
}
.m120{
  margin-top:120px;
}
.m100{ margin-top:100px;}
.m60{ margin-top:60px;}
.mtop{
  padding-top:10px;
  margin-bottom:10px;
}
.mtop-btn{
  margin-top:20px;
  margin-bottom:10px;
}
.mtop-btn .btn-paddings{
  padding:10px 0;
  font-size:20px;
}
.m-left .row{
  margin-left:40px;
  margin-right:40px;
}
.form-control-feedback {
  height: 44px;
  line-height: 44px;
}
#SEND{
  font-size: 18px;
}

#Crawler{
  position: fixed;
  z-index: 2;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.65);
  .contain{
    width: 1170px;
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -585px;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background: #fff;
    border-radius: 4px;
    .Crawler_close{
      overflow: hidden;
      clear: both;
      padding-right: 34px;
      padding-top: 24px;
      .close1{
        width: 31px;
        height: 31px;
        float: right;
        background: url("../img/crawler_close.png") no-repeat center;
        cursor: pointer;
      }
    }
    .contain1{
      text-align: center;
      font-size: 35px;
      color: #464646;
      height: 100px;
      line-height: 100px;
      background: #fff;
      margin-bottom: 20px;
    }
    .contain2{
      height: 480px;
      margin-bottom: 20px;
      overflow-y: auto;
      overflow-x: hidden;
      .zeromargin{
        margin-right: 0px!important;
      }
      .apply{
        height:457px;
        background: #fff;
        width: 370px;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        .img{
          height: 188px;
          position: relative;
          img{
            display: block;
            margin: auto;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
          }
        }
        .name{
          width: 282px;
          margin: 0 auto 50px;
          font-size: 28px;
          color: #464646;
          text-align: center;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .time{
          width: 220px;
          margin: 0 auto 30px;
          color: #464646;
          font-size: 14px;
          padding-left: 40px;
          .time1{

          }
          .time2{
            .aa{
              color: #60b027;
            }
            .as{
              color: #464646;
            }
            .ad{
              color: #a94442;
            }
          }
        }
        .admin{
          width: 90px;
          height: 30px;
          line-height: 30px;
          margin: 0 auto;
          background:#1080e4;
          font-size: 14px;
          text-align: center;
          color: #fff;
          border-radius: 4px;
          cursor: pointer;
        }
      }
    }
  }
}

.overSet{
  width: 200px;
  float: left;
  .over_logo{
    width: 100%;
    height: 50px;
    background: #1a1a1a;
    padding: 5px 0 5px;
    .contain{
      text-align: center;
      color: #fff;
      cursor: pointer;
      height:40px;
      img{
        height:100%;
      }
    }
  }
  .over_set{
    width:100%;
    background: #0d3b75;
    padding-top: 20px;
    min-height: 1085px;
    .set1{
      text-align: center;
      margin-bottom: 20px;
      span{
        display: inline-block;
        width: 60px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #eeeeee;
        font-size: 14px;
        color: #464646;
        border-radius: 4px;
        cursor: pointer;
      }
      .span1{
        margin-right: 10px;
      }
    }
    .set2{
      width: 100%;
      .blue{
        background: #1085e4;
      }
      .a1,.a2,.a3,.a4{
        &:hover{
          background: #1085e4;
        }
      }
      .s1{
        display: block;
        padding-left: 20px;
        height: 40px;
        cursor: pointer;
        margin-bottom: 5px;
        img{
          vertical-align: middle;
        }
        span{
          display: inline-block;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          color: #fff;
          margin-left: 5px;
        }
        .span2{
          display: inline-block;
          float: right;
          margin-right: 15px;
          min-width: 48px;
          height: 40px;
          line-height: 40px;
          font-size: 12px;
          color: #fff;
          text-align: center;
          background: url("../img/red.png") no-repeat center;
        }
      }
    }
  }
}
.overHead{
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width:-webkit-calc(100% - 200px);
  float: left;
  height: 50px;
  background: #eeeeee;
  text-align: right;
  span{
    display: inline-block;
    font-size: 14px;
    color: #5b5b5b;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
  }
  .head_span1{
    margin-right: 50px;
  }
  .head_span2{
    margin-right: 21px;
  }
}

#password{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  .contain{
    width: 500px;
    margin: auto;
    background: white;
    position: absolute;
    left: 50%;
    top:30%;
    margin-left: -250px;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    padding: 24px 40px 40px;
    box-sizing: border-box;
    border-radius: 4px;
    .close{
      font-size: 25px;
    }
    .title{
      text-align: center;
      font-size: 30px;
      height: 30px;
      line-height: 30px;
      color: #4b5861;
      margin-bottom: 50px;
    }
    .input_name{
      width: 350px;
      margin: 0px auto 30px;
      background: #f9f9f9;
      input{
        width: 100%;
        height: 37px;
        padding-left: 20px;
        font-size: 16px;
        border: 1px solid #dfdfdf;
        border-radius: 4px;
        &:focus{
          border: 1px solid #28b0f8;
        }
      }
    }
    .input_password{
      width: 350px;
      margin: 0px auto 30px;
      input{
        width: 100%;
        height: 37px;
        padding-left: 20px;
        font-size: 16px;
        border: 1px solid #dfdfdf;
        border-radius: 4px;
        &:focus{
          border: 1px solid #28b0f8;
        }
      }
    }
    .login_error{
      width:350px;
      margin: 0px auto 15px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #e87171;
      font-size: 16px;
      background: #f2dedf;
      border-radius: 4px;
    }
    .submit{
      width:350px;
      margin: 0px auto;
      height: 40px;
      background: #1085e4;
      line-height: 40px;
      text-align: center;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
      border-radius: 4px;
    }
  }
}

.order{
  width: 100%;
  position: relative;
  .order_list1{
    width: 18%;
    border-right: 1px solid #f5f3f3;
  }
  .order_list2{
    width: 20%;
    border-right: 1px solid #f5f3f3;
  }
  .order_list3{
    width: 44%;
    border-right: 1px solid #f5f3f3;
  }
  .order_list4{
    width: 18%;
  }
  .order_title{
    background: #fafafa;
    overflow: hidden;
    clear: both;
    li{
      float: left;
      height: 39px;
      line-height: 39px;
      text-align: center;
      font-size: 14px;
      color: #464646;
    }
  }
  .order_list{
    overflow: hidden;
    clear: both;
    li{
      float: left;
      height: 39px;
      line-height: 39px;
      text-align: center;
      font-size: 14px;
      color: #464646;
      &.order_list4{
        color: #1085e4;
        span{
          cursor: pointer;
        }

      }
    }
  }
  .order_listeven{
    background: #fcfdff;
  }
  .order_listodd{
    background: #ffffff;
  }
}
.task{
  width: 100%;
  min-height: 235px;
  .task_list1{
    width: 24%;
    border-right: 1px solid #f5f3f3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
  }
  .task_list2{
    width: 24%;
    border-right: 1px solid #f5f3f3;
  }
  .task_list3{
    width: 18%;
    border-right: 1px solid #f5f3f3;
  }
  .task_list4{
    width: 17%;
    border-right: 1px solid #f5f3f3;
  }
  .task_list5{
    width: 17%;
  }
  .task_title{
    background: #fafafa;
    overflow: hidden;
    clear: both;
    li{
      float: left;
      height: 39px;
      line-height: 39px;
      text-align: center;
      font-size: 14px;
      color: #464646;
    }
  }
  .task_list{
    overflow: hidden;
    clear: both;
    li{
      float: left;
      height: 39px;
      line-height: 39px;
      text-align: center;
      font-size: 14px;
      color: #464646;
      &.task_list5{
        color: #1085e4;
        span{
          cursor: pointer;
        }

      }
    }
  }
  .task_listeven{
    background: #fcfdff;
  }
  .task_listodd{
    background: #ffffff;
  }
}

#details{
  position: fixed;
  z-index: 2;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(51, 51, 51, 0.7);
  .contain{
    width: 800px;
    height: 640px;
    position: absolute;
    background: #fff;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    padding: 20px;
    .detail_title{
      margin-bottom: 20px;
      .title{
        font-size: 14px;
        color: #464646;
        .closed{
          position: relative;
          left: 10px;
          float: right;
          width: 20px;
          height: 20px;
          background: url("../img/closed.png") no-repeat center;
          cursor: pointer;
        }
      }
    }
    .details_contain{
      height: 560px;
      border: 1px solid #c9c9c9;
      overflow-y: auto;
      overflow-x: hidden;
      pre{
        background-color: #fff;
        font-size: 14px;
        border: 0;
        color: #464646;
        line-height: 3;
        .jsonview{
          .prop{
            color: #464646;
            font-size: 16px;
          }
          ul{
            list-style: none;
            margin: 0 0 0 2em!important;
            padding: 0;
          }
        }
      }
    }
  }
}

#paging{
  float: right;
  height: 35px;
  width: 450px;
  margin-top: 20px;
  text-align: right;
  .pagingcontain{
    display: inline-block;
    .page_disabled,.page_disabled1{
      background: #cccccc;
      a{
        color: #eee;
      }
    }
    .page_active{
      background: #1085e4;
      a{
        color: #fff;
      }
    }
    li{
      display: inline-block;
      background: #fff;
      border-radius: 4px;
      margin-right: 10px;
      a{
        display: inline-block;
        width: 35px;
        height: 35px;
        font-size: 14px;
        color: #464646;
        text-align: center;
        line-height: 35px;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
  span{
    display: inline-block;
    height: 35px;
    line-height: 35px;
  }
}
#taskpaging{
  float: right;
  height: 35px;
  width: 450px;
  margin-top: 15px;
  text-align: right;
  margin-right: 10px;
  .pagingcontain{
    display: inline-block;
    .page_disabled,.page_disabled1{
      background: #cccccc;
      a{
        color: #eee;
      }
    }
    .page_active{
      background: #1085e4;
      a{
        color: #fff;
      }
    }
    li{
      display: inline-block;
      background: #fff;
      border-radius: 4px;
      margin-right: 10px;
      a{
        display: inline-block;
        width: 35px;
        height: 35px;
        font-size: 14px;
        color: #464646;
        text-align: center;
        line-height: 35px;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
  span{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    background: #fff;
    border-radius: 4px;
    padding: 0 10px;
  }
}
#download{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  .contain{
    width: 1165px;
    height:300px;
    margin: auto;
    background: white;
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -580px;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    box-sizing: border-box;
    border-radius: 4px;
    .contain1{
      width: 100%;
      background: #fff;
      .title{
        width: 100%;
        padding: 15px 10px 15px 0;
        height: 60px;
        div{
          color: #464646;
          font-size: 14px;
        }
        .title1{
          width: 160px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          display: inline-block;
        }
        .title2{
          width: 220px;
          display: inline-block;
          padding-left: 20px;
          border: 1px solid #e2e5ec;
          position: relative;
          .selected{
            height: 30px;
            line-height: 30px;
            background: url(../img/down.png) no-repeat 170px center;
          }
          .select{
            position: absolute;
            width: 220px;
            height: 151px;
            left: -1px;
            top:32px;
            border: 1px solid #e2e5ec;
            border-top: none;
            background: #fff;
            overflow-y: auto;
            overflow-x: hidden;
            .select1{
              padding-left: 20px;
              border-bottom: 1px solid #e2e5ec;
              height: 30px;
              line-height: 30px;
              cursor: pointer;
              &:hover{
                background: #1085e4;
              }
            }
          }
        }
        .all{
          float: right;
          margin-right: 10px;
          .close{
            font-size: 25px;
          }
        }
        .select_change{
          .selected{
            background: url(../img/up.png) no-repeat 170px center;
          }
        }
      }
    }
    .contain2{
      height: 60px;
      background: #e2e5ec;
    }
  }

}
#pic_loading{
  background: #fff;
  position: absolute;
  left: 0;
  top: 39px;
  bottom: 0;
  right: 0;
  min-height: 585px;
  .spinner {
    width: 50px;
    height: 50px;
    position: relative;
    top: 40%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    .spinner-container {
      position: absolute;
      width: 100%;
      height: 100%;
      div{
        width: 6px;
        height: 6px;
        background-color: #1994d7;
        border-radius: 100%;
        position: absolute;
        -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
        animation: bouncedelay 1.2s infinite ease-in-out;
        -moz-animation: bouncedelay 1.2s infinite ease-in-out;
        -o-animation: bouncedelay 1.2s infinite ease-in-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -o-animation-fill-mode: both;
      }
    }
    .container2 {
      -webkit-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
      -moz-transform: rotateZ(45deg);
      -o-transform: rotateZ(45deg);
    }
    .container3 {
      -webkit-transform: rotateZ(90deg);
      transform: rotateZ(90deg);
      -moz-transform: rotateZ(90deg);
      -o-transform: rotateZ(90deg);
    }
    .circle1 {
      top: 0;
      left: 0;
    }

    .circle2 {
      top: 0;
      right: 0;
    }

    .circle3 {
      right: 0;
      bottom: 0;
    }

    .circle4 {
      left: 0;
      bottom: 0;
    }
    .container2 .circle1 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
      -moz-animation-delay: -1.1s;
      -o-animation-delay: -1.1s;
    }

    .container3 .circle1 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
      -moz-animation-delay: -1.0s;
      -o-animation-delay: -1.0s;
    }

    .container1 .circle2 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
      -moz-animation-delay: -0.9s;
      -o-animation-delay: -0.9s;
    }

    .container2 .circle2 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
      -moz-animation-delay: -0.8s;
      -o-animation-delay: -0.8s;
    }

    .container3 .circle2 {
      -webkit-animation-delay: -0.7s;
      animation-delay: -0.7s;
      -moz-animation-delay: -0.7s;
      -o-animation-delay: -0.7s;
    }

    .container1 .circle3 {
      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s;
      -moz-animation-delay: -0.6s;
      -o-animation-delay: -0.6s;
    }

    .container2 .circle3 {
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
      -moz-animation-delay: -0.5s;
      -o-animation-delay: -0.5s;
    }

    .container3 .circle3 {
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
      -moz-animation-delay: -0.4s;
      -o-animation-delay: -0.4s;
    }

    .container1 .circle4 {
      -webkit-animation-delay: -0.3s;
      animation-delay: -0.3s;
      -moz-animation-delay: -0.3s;
      -o-animation-delay: -0.3s;
    }

    .container2 .circle4 {
      -webkit-animation-delay: -0.2s;
      animation-delay: -0.2s;
      -moz-animation-delay: -0.2s;
      -o-animation-delay: -0.2s;
    }

    .container3 .circle4 {
      -webkit-animation-delay: -0.1s;
      animation-delay: -0.1s;
      -moz-animation-delay: -0.1s;
      -o-animation-delay: -0.1s;
    }
  }
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0.0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}
@-moz-keyframes bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0.0)
  }
  40% {
    -moz-transform: scale(1.0)
  }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
    -moz-transform: scale(0.0)
  }
  40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0)
  }
}