html,body{
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
  outline: none;
}
ul li{
  list-style: none;
}
img{
  border: 0;
}
.layout{
  width: 1170px;
  margin: 0 auto;
}
.hexagon_include{
  width: 100%;
  height: 100%;
}

.hexagon {
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  transform: rotate(120deg);
  cursor: pointer;
  .hexagon-in1 {
      overflow: hidden;
      width: 100%;
      height: 100%;
      transform: rotate(-60deg);
      .hexagon-in2{
          width: 100%;
          height: 100%;
          visibility: visible;
          transform: rotate(-60deg);
      }
    }
}
