html,body{
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
  outline: none;
}
ul{
  margin: 0!important;
  li{
    list-style: none;
  }
}

img{
  border: 0;
  vertical-align: initial;
}
.layout{
  width: 1170px;
  margin: 0 auto;
}

.hexagon_include{
  width: 100%;
  height: 100%;
}
.hexagon {
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  transform: rotate(120deg);
  .hexagon-in1 {
      overflow: hidden;
      width: 100%;
      height: 100%;
      transform: rotate(-60deg);
      .hexagon-in2{
          width: 100%;
          height: 100%;
          visibility: visible;
          transform: rotate(-60deg);
      }
    }
}

.modal-header {
  .close{
    font-size:24px;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    &:hover{
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

}
.m150{
  margin-top:150px;
}
.m40{
  margin-top:40px;
}
.m120{
  margin-top:120px;
}
.m100{ margin-top:100px;}
.m60{ margin-top:60px;}
.mtop{
  padding-top:10px;
  margin-bottom:10px;
}
.mtop-btn{
  margin-top:20px;
  margin-bottom:10px;
}
.mtop-btn .btn-paddings{
  padding:10px 0;
  font-size:30px;
}
.m-left .row{
  margin-left:40px;
  margin-right:40px;
}
.form-control-feedback {
  height: 44px;
  line-height: 44px;
}
#SEND{
  font-size: 18px;
}

#Crawler{
  position: fixed;
  z-index: 2;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ededed;
  padding-top: 100px;
  .Crawler_close{
    width: 95%;
    overflow: hidden;
    clear: both;
    .close{
      font-size: 30px;
    }
  }

  .Crawler_title{
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
    img{
      width: 70px;
      height: 60px;
    }
    span{
      margin-left: 20px;
      color: #000;
      font-size: 44px;
    }
  }
  .contain{
    width: 1170px;
    margin: 0 auto;
    .contain1{
      text-align: center;
      font-size: 45px;
      color: #1085e4;
      height: 197px;
      line-height: 197px;
      background: #fff;
      margin-bottom: 20px;
      border-radius: 4px;
      box-shadow:0px 0px 10px #cde0ee;
    }
    .contain2{
      height: 480px;
      margin-bottom: 20px;
      overflow-y: auto;
      overflow-x: hidden;
      .zeromargin{
        margin-right: 0px!important;
      }
      .apply{
        height:457px;
        background: #fff;
        width: 370px;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        .img{
          height: 188px;
          position: relative;
          img{
            display: block;
            margin: auto;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
          }
        }
        .name{
          width: 282px;
          margin: 0 auto 50px;
          font-size: 30px;
          color: #464646;
          text-align: center;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .time{
          width: 145px;
          margin: 0 auto 30px;
          color: #464646;
          font-size: 14px;
          .time1{

          }
          .time2{
            .ad{
              color: #761c19;
            }
            span{
              color: #60b027;
            }
          }
        }
        .admin{
          width: 90px;
          height: 30px;
          line-height: 30px;
          margin: 0 auto;
          background:#1080e4;
          font-size: 14px;
          text-align: center;
          color: #fff;
          border-radius: 4px;
          cursor: pointer;
        }
      }
    }
  }
}

.overSet{
  width: 200px;
  float: left;
  .over_logo{
    width: 100%;
    height: 100px;
    background: #1a1a1a;
    padding: 33px 0 32px;
    .contain{
      text-align: center;
      font-size: 23px;
      color: #fff;
    }
  }
  .over_set{
    width:100%;
    background: #0d3b75;
    padding-top: 20px;
    .set1{
      text-align: center;
      margin-bottom: 20px;
      span{
        display: inline-block;
        width: 60px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #eeeeee;
        font-size: 14px;
        color: #464646;
        border-radius: 4px;
        cursor: pointer;
      }
      .span1{
        margin-right: 10px;
      }
    }
    .set2{
      width: 100%;
      height: 1000px;
      .s1{
        padding-left: 20px;
        height: 40px;
        cursor: pointer;
        img{
          vertical-align: middle;
        }
        span{
          display: inline-block;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          color: #fff;
          margin-left: 5px;
        }
      }
    }
  }
}
.overHead{
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width:-webkit-calc(100% - 200px);
  float: left;
  height: 90px;
  background: #eeeeee;
  text-align: right;
  span{
    display: inline-block;
    font-size: 14px;
    color: #5b5b5b;
    height: 90px;
    line-height: 90px;
    cursor: pointer;
  }
  .head_span1{
    margin-right: 50px;
  }
  .head_span2{
    margin-right: 21px;
  }
}

.order{
  width: 100%;
  .order_list1{
    width: 18%;
    border-right: 1px solid #f5f3f3;
  }
  .order_list2{
    width: 20%;
    border-right: 1px solid #f5f3f3;
  }
  .order_list3{
    width: 44%;
    border-right: 1px solid #f5f3f3;
  }
  .order_list4{
    width: 18%;
  }
  .order_title{
    background: #fafafa;
    overflow: hidden;
    clear: both;
    li{
      float: left;
      height: 39px;
      line-height: 39px;
      text-align: center;
      font-size: 14px;
      color: #464646;
    }
  }
  .order_list{
    overflow: hidden;
    clear: both;
    li{
      float: left;
      height: 39px;
      line-height: 39px;
      text-align: center;
      font-size: 14px;
      color: #464646;
      &.order_list4{
        color: #1085e4;
        span{
          cursor: pointer;
        }

      }
    }
  }
  .order_listeven{
    background: #fcfdff;
  }
  .order_listodd{
    background: #ffffff;
  }
}

#details{
  position: fixed;
  z-index: 2;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(51, 51, 51, 0.7);
  .contain{
    width: 800px;
    height: 640px;
    position: absolute;
    background: #fff;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    padding: 20px;
    .detail_title{
      margin-bottom: 20px;
      .title{
        font-size: 14px;
        color: #464646;
        .closed{
          position: relative;
          left: 10px;
          float: right;
          width: 20px;
          height: 20px;
          background: url("../img/closed.png") no-repeat center;
          cursor: pointer;
        }
      }
    }
    .details_contain{
      height: 560px;
      border: 1px solid #c9c9c9;
      overflow-y: auto;
      overflow-x: hidden;
      pre{
        background-color: #fff;
        font-size: 14px;
        border: 0;
        color: #464646;
        line-height: 3;
      }
    }
  }
}