#historyContain{
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width:-webkit-calc(100% - 200px);
  min-height: 1085px;
  float: left;
  background: #e2e5ec;
  padding-left: 40px;
  padding-right: 20px;
  .contain1{
    .title1{
      height:70px;
      line-height:70px;
      font-size: 28px;
      color: #5b5b5b;
    }
    .title2{
      font-size: 14px;
      color: #5b5b5b;
      margin-bottom: 30px;
      span{
        color: #993300;
      }
    }
  }
  .contain2{
    min-height: 730px;
    .con{
      height: 130px;
      background: #fff;
      border-radius: 4px;
      padding: 15px;
      margin-bottom: 10px;
      .con1{
        width: 80%;
        height: 30px;
        margin-bottom: 40px;
        div{
          display: inline-block;
          height: 30px;
          line-height: 30px;
          font-size: 14px;
          color: #5b5b5b;
        }
        .co1{
          font-size: 28px;
          margin-right: 5px;
        }
        .co2{
          padding-left: 35px;
          color: #60b027;
          vertical-align: 5px;
          background: url("../img/going1.png") no-repeat left center;
          margin-right: 40px;
        }
        .co3{
          padding-left: 35px;
          color: #761c19;
          vertical-align: 5px;
          background: url("../img/going2.png") no-repeat left center;
          margin-right: 40px;
        }
        .co4{
          vertical-align: 5px;
          margin-right: 20px;
        }
        .co5{
          vertical-align: 5px;
        }
      }
      .con2{
        width: 80%;
        color: #464646;
        font-size: 14px;
        div{
          display: inline-block;
          span{
            color: #1085e4;
          }
        }
        .co1{
          width: 25%;
          max-width: 200px;

        }
        .co2{
          width: 30%;
          max-width: 255px;
          text-align: center;
          border-left: 1px solid #999999;
          border-right: 1px solid #999999;
        }
        .co3{
          width: 25%;
          max-width: 200px;
          text-align: center;
        }
      }
      .con3{
        width: 100px;
        height: 110px;
        float: right;
        cursor: pointer;
        background: url("../img/down_his.png") no-repeat center;
      }
      .con4{
        display: block;
        width: 100px;
        height: 110px;
        float: right;
        cursor: pointer;
        background: url("../img/making_his.png") no-repeat center;
      }
    }
  }
}