#overContain{
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width:-webkit-calc(100% - 200px);
  min-height: 1400px;
  float: left;
  background: #e2e5ec;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 70px;
  .contain1{
    .title{
      height: 70px;
      line-height: 70px;
      font-size: 28px;
      color: #5b5b5b;
      width: 300px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .con{
      overflow: hidden;
      clear: both;
      margin-bottom: 20px;
      .zt{
        float: left;
        div{
          display: inline-block;
          font-size: 14px;
          color: #5b5b5b;
          margin-right: 40px;
        }
        .zt1{
          display: inline-block;
          img{
            vertical-align: -8px;
            margin-right: 5px;
          }
          .aa{
            color: #60b027;
          }
          .as{
            color: #464646;
          }
          .ad{
            color: #a94442;
          }
        }
      }
      .set{
        float: right;
        a{
          display: block;
          text-align: center;
          width: 80px;
          height: 30px;
          background: #1085e4;
          line-height: 30px;
          border-radius: 4px;
          font-size: 14px;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
  .contain2{
    width: 100%;
    overflow: hidden;
    clear: both;
    margin-bottom: 10px;
    .shuju1{
      float: left;
      width:18.5%;
      min-width: 180px;
      height: 110px;
      background: #fff;
      margin-right: 20px;
      margin-bottom: 10px;
      .s1{
        position: relative;
        width: 40%;
        height: 100%;
        float: left;
        img{
          width: 60%;
          display: block;
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
      .s2{
        width: 60%;
        position: relative;
        float: left;
        height: 100%;
        .ss{
          position: absolute;
          top:50%;
          transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          .p1{
            font-size: 28px;
            color: #f79769;
            height: 42px;
            span{
              font-size: 14px;
              color: #464646;
            }
          }
          .p2{
            font-size:14px;
            color: #464646;
          }
        }
      }
    }
    .shuju2{
      .p1{
        color: #1085e4!important;
      }
    }
    .shuju3{
      .p1{
        .span1{
          font-size: 30px!important;
          color: #60b027!important;
          .span2{
            margin-left: 10px;
          }
        }
      }
    }
    .shuju4{
      .p1{
        color: #993300!important;
      }
    }
    .shuju5{
      margin-right: 0!important;
      .p1{
        .span1{
          font-size: 30px!important;
          color: #9933cc!important;
          .span2{
            margin-left: 10px;
          }
        }
      }
    }
  }
  .contain3{
    width: 100%;
    overflow: hidden;
    clear: both;
    margin-bottom: 20px;
    .title{
      height: 45px;
      line-height: 45px;
      color: #464646;
      font-size: 14px;
      background: #fbfbfb;
    }
    .today{
      width: 49%;
      height: 380px;
      padding: 0 30px 0;
      float: left;
      background: #fff;
      #echarts_zhe{
        width: 100%;
        height:340px;
      }
    }
    .history{
      margin-right: 0px;
      float: right;
      .title{
        a{
          display: block;
          text-decoration: none;
          float: right;
          cursor: pointer;
          color: #1085e4;
          font-size: 14px;
        }
      }
      #echarts_zhu{
        width: 100%;
        height:340px;
      }
    }
  }
  .contain4{
    width: 100%;
    background: #fff;
    .title{
      width: 100%;
      padding: 15px 10px 15px 0;
      height: 60px;
      div{
        color: #464646;
        font-size: 14px;
      }
      .title1{
        width: 120px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: inline-block;
      }
      .title2{
        width: 150px;
        display: inline-block;
        padding-left: 20px;
        border: 1px solid #e2e5ec;
        position: relative;
        .selected{
          height: 30px;
          line-height: 30px;
          background: url(../img/down.png) no-repeat 100px center;
        }
        .select{
          position: absolute;
          z-index: 2;
          width: 150px;
          left: -1px;
          border: 1px solid #e2e5ec;
          border-top: none;
          background: #fff;
          .select1{
            padding-left: 20px;
            border-bottom: 1px solid #e2e5ec;
            height: 30px;
            line-height: 30px;
            cursor: pointer;
            &:hover{
              background: #1085e4;
            }
          }
        }
      }
      .all{
        float: right;
        color: #1085e4;
        font-size: 14px;
        a{
          text-decoration: none;
        }
      }
      .select_change{
        .selected{
          background: url(../img/up.png) no-repeat 100px center;
        }
      }
    }

  }
}