#resultContain{
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width:-webkit-calc(100% - 200px);
  min-height: 990px;
  float: left;
  background: #e2e5ec;
  padding-left: 40px;
  padding-right: 20px;
  .contain1{
    .title{
      height: 80px;
      line-height: 80px;
      font-size: 30px;
      color: #5b5b5b;
    }
    .con{
      overflow: hidden;
      clear: both;
      margin-bottom: 20px;
      .zt{
        float: left;
        div{
          display: inline-block;
          font-size: 14px;
          color: #5b5b5b;
        }
        .zt1,.zt2{
          span{
            color: #1085e4;
          }
        }
        .zt3{
          span{
            color: #993300;
          }
        }
      }
      .set1{
        float: right;
        text-align: center;
        width: 120px;
        height: 30px;
        background: #1085e4;
        line-height: 30px;
        border-radius: 4px;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
      }
      .set2{
        float: right;
        text-align: center;
        margin-right: 20px;
        width: 90px;
        height: 30px;
        background: #eee;
        line-height: 30px;
        border-radius: 4px;
        a{
          font-size: 14px;
          color: #464646;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }
  .contain2{
    background: #fff;
    .con1{
      height: 52px;
      border: 1px solid #e8ebee;
      .categoryActive{
        border-bottom: 3px solid #1085e4;
      }
      .sele{
        width: 104px;
        height: 50px;
        font-size: 14px;
        color: #464646;
        line-height: 50px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
      }
    }
    .con2{
      height: 60px;
      padding: 15px 0;
      .time1{
        width: 100px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        color: #464646;
        text-align: center;
        display: inline-block;
      }
      .time2{
        display: inline-block;
        input{
          width: 160px;
          height: 30px;
          font-size: 14px;
          color: #6ec3fb;
          cursor: pointer;
        }
        #starttime{
          background: url("../img/starttime.png") #eaf6fe no-repeat 135px center;
        }
        #endtime{
          background: url("../img/endtime.png") #eaf6fe no-repeat 135px center;
        }
        input::-webkit-input-placeholder {
          color: #6ec3fb;
        }
        input:-moz-placeholder {
          color: #6ec3fb;
        }
        input::-moz-placeholder {
          color: #6ec3fb;
        }
        input:-ms-input-placeholder {
          color: #6ec3fb;
        }
      }
      .time5{
        display: inline-block;
        margin: 0px 20px;
        width: 60px;
        height:30px;
        line-height: 30px;
        color: #fff;
        background: #1085e4;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
      }
      .time6{
        margin: 0;
        width: 90px;
      }
    }
    .con3{
      min-height: 625px;
    }
  }
  .contain3{
    overflow: hidden;
    clear: both;
    .con1{
      margin-top: 20px;
      float: left;
      width: 620px;
      font-size: 14px;
      color: #999;
    }
    .con2{

    }
  }
}