<!--选择爬虫应用-->
<div ng-include="'CrawlerApply.html'" id="Crawler" ng-controller="CrawlerApplycontroller" ng-if="crawler_close"></div>


<div ng-include="'overSet.html'" id="overSet" ng-controller="overSetcontroller"></div>
<div ng-include="'overHead.html'" id="overHead" ng-controller="overHeadcontroller"></div>

<div id="download" ng-if="down_flag">
    <div class="contain">
        <div class="contain1">
            <div class="title">
                <div class="title1">抓取结果文件下载</div>
                <div class="title2" ng-class="{'selecttaskName_change':selecttaskName_change}">
                    <div class="selected" id="selectedtaskName" ng-click="selecttaskName(null,$event)">{{taskName}}</div>
                    <div class="select" ng-if="over_selecttaskName">
                        <div class="select1" ng-click="selecttaskName('所有',$event)">所有</div>
                        <div class="select1" ng-repeat="t in taskname" ng-click="selecttaskName(t,$event)">{{ t | fitertaskname}}</div>
                    </div>
                </div>
                <div class="all"><div class="close" ng-click="closeDown(false)">&times;</div></div>
            </div>
            <task-list ng-if="taskname"></task-list>
        </div>
        <historytaskpage-middle></historytaskpage-middle>
    </div>
</div>


<div id="historyContain">
    <div class="contain1">
        <div class="title1">任务历史</div>
        <div class="title2">共执行过<span>{{historyCenter.total}}</span>次爬虫任务</div>
    </div>
    <div class="contain2">
        <div class="con" ng-repeat="l in historyCenter.data">
            <div class="con3" ng-if="l.status!='1'" ng-click="closeDown(true,l)"></div>
            <a class="con4" ng-href="#/result" ng-if="l.status=='1'"></a>
            <div class="con1">
                <div class="co1">爬虫任务#{{l.taskName}}</div>
                <div class="co2" ng-if="l.status=='1'">执行中</div>
                <div class="co3" ng-if="l.status!='1'">已结束</div>
                <div class="co4">启动时间：{{l.startTime | date:"yyyy-MM-dd HH:mm:ss"}}</div>
                <div class="co5" ng-if="l.status!='1'">结束时间：{{l.endTime | date:"yyyy-MM-dd HH:mm:ss"}}</div>
            </div>
            <div class="con2">
                <div class="co1">耗时&nbsp;<span>{{l.costTime | historyTime}}</span></div>
                <div class="co2">爬取数据数&nbsp; <span>{{l.totalCount}}</span><span>条</span></div>
                <div class="co3">平均速度&nbsp; <span>{{l.speed}}</span><span>条/秒</span></div>
            </div>
        </div>
    </div>
    <div class="contain3">
        <taskpage-middle ng-if="historyCenter"></taskpage-middle>
    </div>
</div>