<script type="text/ng-template" id="lovestory.html">
    <div class="hexagon">
        <div class="hexagon-in1">
            <div class="hexagon-in2">
            </div>
        </div>
    </div>
    <!--<div ng-include="'lovestory.html'" class="hexagon_include"></div>-->
</script>
<div id="home1">
    <div class="home_header">
        <div class="layout">
            <div class="logo">
                <div class="logo_img">
                    <img ng-src="static/img/whale.png" alt="">
                </div>
            </div>
            <div class="login" ng-click="openlogin()" ng-if="!username_flag">
                <div class="login_img"><img src="static/img/login.png" alt=""></div>
                <div class="login_name"><a href="">登录</a></div>
            </div>
            <div class="username" ng-class="{'user_change':user_change}" ng-if="username_flag">
                <div class="username_fun"><a href="" ng-click="Crawler_close()">用户中心</a></div>
                <div class="username_img" ng-mouseleave="usernameenter(false)" ng-mouseenter="usernameenter(true)">
                    <img src="static/img/user.png" alt="">
                    <div class="username_xin">
                        <div class="title">
                            <div class="img">
                                <img src="static/img/user.png" alt="">
                            </div>
                            <div class="name">
                                <p class="p1" ng-bind="usercount.username"></p>
                                <p class="p2">这是你使用鲸鱼的第{{usercount.time | timeout}}天</p>
                            </div>
                        </div>
                        <div class="shuju">
                            <div class="shuju1 bor mar">爬虫应用数<span>{{usercount.appcount}}</span></div>
                            <div class="shuju1 mar">爬取数据量<span>{{usercount.totalCount}}</span></div>
                            <div class="shuju1 bor">爬虫节点数<span>{{usercount.crawlNum}}</span></div>
                            <div class="shuju1">爬取总耗时<span>{{ usercount.costTime | changeKMG1}}</span></div>
                            <!--<home-hours creattime="totaltime"></home-hours>-->
                            <!--<home-kmg creattime="totaltime"></home-kmg>-->
                            <!--<span>{{nnnnn | changeKMG1}}</span>-->
                        </div>
                        <div class="foo">
                            <div class="foo_user" ng-click="Crawler_close()">用户中心</div>
                            <div class="foo_out" ng-click="loginout()">退出</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="home_content_middle slower fadeInUp layout">
        <div class="middle1">
            鲸鱼爬虫
        </div>
        <div class="middle2">
            一站式的爬虫和大数据定制服务
        </div>
        <div class="middle3">
            <div class="btnone" data-toggle="modal" data-target="#myModal">申请使用</div>
        </div>
    </div>
</div>
<div id="home2">
    <div class="home2_contain1"></div>
    <div class="home2_contain2 layout">
        <div class="title homerightX1"  data-rotate-x="90deg">
            您动口，我们动手<br />
            海量数据轻松拥有
        </div>
        <div class="home21 homerightX1" data-move-x="-300px">
            <div class="home21_1 hover">
                1&nbsp;大数据<br />
                 &nbsp;&nbsp;&nbsp;业务咨询
            </div>
            <div class="home21_2">
                <div class="home21_21 hover_bg">
                    <img src="static/img/shuju1.png" alt="">
                </div>
            </div>
        </div>
        <div class="home22 homerightX1" data-move-x="-300px">
            <div class="home22_1 hover">
                2&nbsp;爬虫开发<br />
            </div>
            <div class="home22_2">
                <div class="home22_21 hover_bg">
                    <img src="static/img/shuju2.png" alt="">
                </div>
            </div>
        </div>
        <div class="home23 homerightX1" data-move-x="-300px">
            <div class="home23_1 hover">
                3&nbsp;算法定制<br />
            </div>
            <div class="home23_2">
                <div class="home23_21 hover_bg">
                    <img src="static/img/shuju3.png" alt="">
                </div>
            </div>
        </div>
        <div class="home24 homerightX1" data-move-x="300px">
            <div class="home24_1 hover">
                4&nbsp;分布式<br />
                &nbsp;&nbsp;&nbsp;爬虫管理
            </div>
            <div class="home24_2">
                <div class="home24_21 hover_bg">
                    <img src="static/img/shuju4.png" alt="">
                </div>
            </div>
        </div>
        <div class="home25 homerightX1" data-move-x="300px">
            <div class="home25_1 hover">
                5&nbsp;大数据存储<br />
            </div>
            <div class="home25_2">
                <div class="home25_21 hover_bg">
                    <img src="static/img/shuju5.png" alt="">
                </div>
            </div>
        </div>
        <div class="home26 homerightX1" data-move-x="300px">
            <div class="home26_1 hover">
                6&nbsp;API输出<br />
            </div>
            <div class="home26_2">
                <div class="home26_21 hover_bg">
                    <img src="static/img/shuju6.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="home2_contain3">
        <div class="layout">
            <div class="title homerightX4" data-move-y="-200px">
                全网爬虫，无所不能
            </div>
            <div class="contain">
                <div class="contain1 homerightX4"  data-move-x="-300px">
                    <div ng-include="'lovestory.html'" class="hexagon_include"></div>
                    <div class="wenzi">
                        <p>电商比价</p>
                        <p>法院黑名单</p>
                        <p>评论舆情</p>
                        <p>新闻聚合</p>
                    </div>
                </div>
                <div class="contain2">
                    <div ng-include="'lovestory.html'" class="hexagon_include"></div>
                    <div class="wenzi">
                        <p>销售名录</p>
                        <p>商户信息</p>
                        <p>企业征信</p>
                    </div>
                </div>
                <div class="contain3 homerightX4"  data-move-x="300px">
                    <div ng-include="'lovestory.html'" class="hexagon_include"></div>
                    <div class="wenzi">
                        <p>个人公积金</p>
                        <p>社保、保险、税务</p>
                        <p>社交网站</p>
                        <p>授权查询</p>
                    </div>
                </div>
            </div>
            <div class="foo">
                <div class="foo1 ff">
                    <div class="foo_title">
                        <img src="static/img/weixin.png" alt="">
                        <span>社交网络</span>
                    </div>
                    <div class="url">
                        <div class="url1">
                            <a href="">微博</a>
                            <a href="">微信</a>
                            <a href="">论坛</a>
                            <a class="last" href="">博客</a>
                        </div>
                        <div class="url2">
                            <a href="">知乎</a>
                            <a href="">问答</a>
                            <a href="">天涯</a>
                            <a class="last" href="">豆瓣</a>
                        </div>
                    </div>
                </div>
                <div class="foo2 ff">
                    <div class="foo_title">
                        <img src="static/img/weixin2.png" alt="">
                        <span>电子商务</span>
                    </div>
                    <div class="url">
                        <div class="url1">
                            <a href="">淘宝</a>
                            <a href="">京东</a>
                            <a href="">天猫</a>
                            <a class="last lastlast" href="">亚马逊</a>
                        </div>
                        <div class="url2">
                            <a href="">商品</a>
                            <a href="">店铺</a>
                            <a href="">价格</a>
                            <a class="last" href="">评价</a>
                        </div>
                    </div>
                </div>
                <div class="foo3 ff">
                    <div class="foo_title">
                        <img src="static/img/shop.png" alt="">
                        <span>生活服务</span>
                    </div>
                    <div class="url">
                        <div class="url1">
                            <a href="">58</a>
                            <a href="">赶集</a>
                            <a href="">美团</a>
                            <a class="last" href="">携程</a>
                        </div>
                        <div class="url2">
                            <a href="">餐饮</a>
                            <a href="">外卖</a>
                            <a href="">酒店</a>
                            <a class="last" href="">机票</a>
                        </div>
                    </div>
                </div>
                <div class="foo4 ff">
                    <div class="foo_title">
                        <img src="static/img/money.png" alt="">
                        <span>金融基金</span>
                    </div>
                    <div class="url">
                        <div class="url1">
                            <a href="">股票</a>
                            <a href="">P2P</a>
                            <a href="">理财</a>
                            <a class="last" href="">众筹</a>
                        </div>
                        <div class="url2">
                            <a href="">网贷</a>
                            <a href="">保险</a>
                            <a href="">资讯</a>
                            <a class="last" href="">创业</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home2_contain4 layout">
        <div class="title homerightX3" data-move-y="-200px">做爬虫，我们是专业的</div>
        <div class="contain1 tu homerightX3" data-rotate-x="90deg">
            <div class="a1"></div>
            <div class="a2">
                <p class="p1">成熟技术</p>
                <p class="p2">Java、Python、C#各种开发语言、验证码自动识别、海量实时IP自动切换</p>
            </div>
        </div>
        <div class="contain2 tu homerightX3" data-rotate-y="90deg">
            <div class="a1"></div>
            <div class="a2">
                <p class="p1">真正的爬虫云</p>
                <p class="p2">上千台服务器组成的爬虫云，采用基于docker的私有云管理技术，保证所有爬虫长时间稳定运行</p>
            </div>
        </div>
        <div class="contain3 tu homerightX3"  data-rotate-x="90deg">
            <div class="a1"></div>
            <div class="a2">
                <p class="p1">爬虫开发者联盟</p>
                <p class="p2">上百位熟练的爬虫程序猿组成的专业开发者联盟，强力支撑各类爬虫的快速开发</p>
            </div>
        </div>
        <div class="contain4 tu homerightX3"  data-rotate-y="90deg">
            <div class="a1"></div>
            <div class="a2">
                <p class="p1">资深客服团队</p>
                <p class="p2">经验丰富的客户服务团队，精准把握客户需求，随时为客户答疑解惑</p>
            </div>
        </div>
    </div>
    <div class="home2_contain5">
        <div class="layout">
            <div class="title homerightX3" data-move-y="-200px">当爬虫遇见大数据……</div>
            <div class="contain1 homerightX3" data-move-x="-400px">
                <div class="contain11 common">
                    <div ng-include="'lovestory.html'" class="hexagon_include"></div>
                    <div class="wenzi">
                        <p>品牌监控</p>
                    </div>
                </div>
                <div class="contain12 common">
                    <div ng-include="'lovestory.html'" class="hexagon_include"></div>
                    <div class="wenzi">
                        <p>风险监测</p>
                    </div>
                </div>
                <div class="contain13 common">
                    <div ng-include="'lovestory.html'" class="hexagon_include"></div>
                    <div class="wenzi">
                        <p>产品研发</p>
                    </div>
                </div>
                <div class="contain14 common">
                    <div ng-include="'lovestory.html'" class="hexagon_include"></div>
                    <div class="wenzi">
                        <p>精准营销</p>
                    </div>
                </div>
            </div>
            <div class="contain2 homerightX3" data-move-x="400px">
                <div class="contain11 common">
                    <div ng-include="'lovestory.html'" class="hexagon_include"></div>
                    <div class="wenzi">
                        <p>市场分析</p>
                    </div>
                </div>
                <div class="contain12 common">
                    <div ng-include="'lovestory.html'" class="hexagon_include"></div>
                    <div class="wenzi">
                        <p>舆情监控</p>
                    </div>
                </div>
                <div class="contain13 common">
                    <div ng-include="'lovestory.html'" class="hexagon_include"></div>
                    <div class="wenzi">
                        <p>科学研究</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home2_contain6 layout">
        <div class="contain1 homerightX4" data-move-x="200px">
            <div class="title">最简单的收费模式</div>
            <div class="con1 con">
                定制开发<span>免费</span>
            </div>
            <div  class="con2 con">
                爬虫服务器<span>免费</span>
            </div>
            <div  class="con3 con">
                99%可用性，不可用<span>免费</span>
            </div>
            <div  class="con4 con">
                只收<span>维护人力费</span>
            </div>
        </div>
        <div class="contain2 homerightX4" data-move-x="-200px"></div>
    </div>
    <div class="home2_contain7">
        <div class="layout">
            <div class="title homerightX4" data-move-y="200px">案例分享</div>
            <div class="contain">
                <div class="contain1 homerightX4" data-rotate-x="90deg">
                    <div class="con1">
                        <div ng-include="'lovestory.html'" class="hexagon_include"></div>
                    </div>
                    <div class="con2">某跨国集团公司品牌监控案例</div>
                    <div class="con3">案例描述案例描述案例描述案例描述案例描述案例描述案例描述案例描述案例描述案例描述案例描述案例描述案例描述案例描述案例描述案例描述</div>
                    <div class="con4">详情</div>
                </div>
                <div class="contain2 contain1 homerightX4" data-rotate-y="90deg">
                    <div class="con1">
                        <div ng-include="'lovestory.html'" class="hexagon_include"></div>
                    </div>
                    <div class="con2">某金融机构大数据风控案例</div>
                    <div class="con3">案例描述案例描述案例描述案例描述案例描述案例描述案例描述案例描述案例描述案例描述案例描述案例描述案例描述案例描述案例描述案例描述</div>
                    <div class="con4">详情</div>
                </div>
            </div>
        </div>
    </div>
    <div class="home2_contain8 layout">
        <div class="title homerightX5" data-move-x="-200px">他们选择鲸鱼</div>
        <div class="contain responsive  homerightX5" data-move-x="200px">
            <div><img src="static/img/58.png" alt=""></div>
            <div><img src="static/img/baidu.png" alt=""></div>
            <div><img src="static/img/jd.png" alt=""></div>
            <div><img src="static/img/bq.png" alt=""></div>
            <div><img src="static/img/kq.png" alt=""></div>
            <div><img src="static/img/fq.png" alt=""></div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="layout">
        <div class="fot">Copyright © 2017 上海诚数信息科技有限公司版权所有 沪ICP备12010279号</div>
    </div>
</div>

<!--选择爬虫应用-->
<div ng-include="'CrawlerApply.html'" id="Crawler" ng-controller="CrawlerApplycontroller" ng-if="crawler_close"></div>

<!--登录-->
<div id="login" ng-if="openflag">
    <div class="contain">
        <div class="close"><span id="loginclosed" ng-click="closedlogin()">&times;</span></div>
        <div class="title">登录</div>
        <div class="input_name">
            <input type="text" ng-model="loginInfo.name1" placeholder="邮箱" autofocus="autofocus">
        </div>
        <div class="input_password">
            <input type="password" ng-model="loginInfo.password1" placeholder="密码">
        </div>
        <div class="login_error" ng-if="error">{{error_wenzi}}</div>
        <div class="submit" ng-click="submit()">登录</div>
    </div>
</div>
<!--修改密码 激活-->
<div id="password" ng-if="openflag_1">
    <div class="contain">
        <div class="close"><span ng-click="closedpassword()">&times;</span></div>
        <div class="title">修改密码</div>
        <div class="input_name">
            <input type="password" ng-model="loginInf.name11" placeholder="旧密码" autofocus="autofocus">
        </div>
        <div class="input_password">
            <input type="password" ng-model="loginInf.password11" placeholder="新密码">
        </div>
        <div class="input_password">
            <input type="password" ng-model="loginInf.password21" placeholder="确认密码">
        </div>
        <div class="login_error" ng-if="error">{{error_wenzi}}</div>
        <div class="submit" ng-click="submitpassword()">确认</div>
    </div>
</div>

