

<div id="header">
    <div class="header">
        <div class="phone_list"></div>
        <div class="phone_list2"></div>
        <div class="logo" ng-click="page_home()"><img src="static/img/pictureair-logo.svg"></div>
        <div class="navbar">
            <ul class="navbar_ul">
                <li id="sign" ng-bind="languagePack.home_sign"></li>
                <li id="about"><a href="#/h5/about" ng-bind="languagePack.home_about"></a></li>
                <li id="profile" ng-click="showProfile(true)" ng-bind="languagePack.home_Profile"></li>
                <li id="Photos"><a href="#/picture" ng-bind="languagePack.home_Photoss"></a></li>
                <li id="out" ng-bind="languagePack.home_Out"></li>
                <li id="contact"><a href="#/h5/contact" ng-bind="languagePack.home_Contact"></a></li>
                <li id="En">
                    <span class="span1" >EN</span>
                    <div id="En_list" style="display: none">
                        <span class="span2" ng-click="swapLanlogin('en')">EN</span>
                        <span class="span2" ng-click="swapLanlogin('zh')">中文</span>
                        <span class="span2" ng-click="swapLanlogin('ri')">日本語</span>
                    </div>
                </li>
            </ul>
            <div class="navbar_input"><input type="text" placeholder="{{languagePack.home_Add}}"><span class="puls"></span></div>
        </div>
    </div>
</div>
<div class="main_visual">
    <div class="flicking_con">
        <a href="#" ng-repeat="data1 in datas"></a>
    </div>
    <div class="main_image">
        <ul>
            <li ng-repeat="data in datas" repeat-finish="renderFinish()"><a target="_blank" style="background-image:url({{data.url}});background-size: cover" ng-href={{data.link}}></a></li>

        </ul>
        <a href="javascript:;" id="btn_prev"></a>
        <a href="javascript:;" id="btn_next"></a>
    </div>
</div>
<div id="passcode">
    <div class="input_code">
        <input type="text" placeholder="{{languagePack.home_Add}}" id="ppc">
    </div>
    <div class="enter" id="addpp"></div>
</div>
<div class="mobileApp">
    <div class="mobile_view">
        <div class="app H2SD">{{languagePack.home_mobileapp}}</div>
        <div ng-if="lanbb2=='en'" class="appimg1"></div>
        <div ng-if="lanbb2=='zh'" class="appimg2"></div>
        <div ng-if="lanbb2=='ri'" class="appimg3"></div>
        <div class="appimg_bg">
            <span class="ios C1SW" id="down_ios2"></span><span class="android C1SW" id="down_and2"></span>
        </div>
    </div>
</div>
<div id="footer">
    <div class="footer">
        <div class="foo">
            <span class="span1">保留所有权利 © 2012-2017 Pictureworks International</span><a href="#/h5/privacy" class="span2">{{languagePack.home_Privacy}}</a><a href="#/h5/service" class="span3">{{languagePack.home_Service}}</a><span class="span1">沪ICP备 15020542号-1</span>
        </div>
    </div>
</div>
<div class="downapp">
    <div class="downapp_view">
        <div class="close"><span id="downappclosed"></span></div>
        <div class="apptitle H1SD">{{languagePack.home_addapp1}}</div>
        <div class="apptitle2 H3TD">{{languagePack.home_addapp2}}</div>
        <div class="appimg"></div>
        <div class="version"><span class="ios C1SW" id="down_ios">{{languagePack.home_addapp3}}</span><span class="android C1SW" id="down_and">{{languagePack.home_addapp4}}</span></div>
    </div>
</div>
<div class="login" style="display: none">
    <div class="contain"  ng-class="{'changed':changed,'relo':relo,'relo1':relo1}">
        <div class="close"><span id="loginclosed" ng-click="closedlogin()"></span></div>
        <h1 class="H1SD titie">{{languagePack.home_Register}}</h1>
        <h1 class="H1SD titie2">{{languagePack.home_Log}}</h1>
        <h1 class="H1SD titie3">{{languagePack.home_reset}}</h1>
        <div class="titie_flag"><span class="H3TD span1">{{languagePack.home_Already}}</span><span class="H3SB span2" ng-click="reloing()">{{languagePack.home_Login}}</span></div>
        <div class="titie_flag2"><span class="H3TD span1">{{languagePack.home_inor}}</span><span class="H3SB span2" ng-click="reloing()">{{languagePack.home_newaccount}}</span></div>
        <div class="titie_flag3"><span class="H3TD span1">{{languagePack.home_addxin1}}</span></div>
        <div class="titie_flag4"><span class="H3TD span1">{{languagePack.home_addxin2}}</span></div>
        <div class="titie_flag5"><span class="H3TD span1">{{languagePack.home_addxin3}}</span></div>
        <div class="phone_email">
            <div class="country">
                <span class="C1TD CN">{{languagePack.home_country}}</span>
                <span class="C1SB COUNTRY">{{languagePack.home_China}}</span>
                <span class="downs" id="down_country1" ng-click="showCN()"></span>
                <div class="showcontry">
                    <div ng-if="lanbb=='zh'" ng-click="change_code($index)" ng-repeat="data in nationCodes" class="ncode">
                        <span class="item_ncode C1TD">+<span class="input_codenum C1TD">{{data[3]}}</span></span>
                        <span class="item_nname C1TD">{{data[2]}}</span>
                    </div>
                    <div ng-if="lanbb=='en'" ng-click="change_code($index)" ng-repeat="data in nationCodes" class="ncode">
                        <span class="item_ncode C1TD">+<span class="input_codenum C1TD">{{data[3]}}</span></span>
                        <span class="item_nname C1TD">{{data[1]}}</span>
                    </div>
                </div>
            </div>
            <div class="phone">
                <span class="phone_code">
                    <span class="sting">+</span>
                    <span class="code">86</span>
                </span>
                <input type="text" onkeyup="value=value.replace(/\D/g,'')" placeholder="{{languagePack.home_phone}}" ng-model="loginInfo.phone" ng-change="textChange()" autofocus="autofocus">
                <span class="error" ng-show="text_phone">{{languagePack.error_mobile}}</span>
                <!--<span class="error error1" ng-show="text_phone2">格式正确</span>-->
            </div>
            <div class="email">
                <input type="text" placeholder="{{languagePack.home_email}}" autofocus="autofocus" ng-model="loginInfo.email" ng-change="textChange()">
                <span class="error" ng-show="text_email">{{languagePack.error_email}}</span>
                <!--<span class="error error1" ng-show="text_email2">格式正确</span>-->
            </div>
            <div class="password">
                <input type="password" placeholder="{{languagePack.home_password}}" maxlength="32" ng-model="loginInfo.password" ng-change="textChange()">
                <span class="error" ng-show="text_pass">{{languagePack.error_format}}</span>
                <!--<span class="error error1" ng-show="text_pp">格式正确</span>-->
            </div>
            <div class="password password2">
                <input type="password" placeholder="{{languagePack.home_confirm}}" maxlength="32" ng-model="loginInfo.compassword" ng-change="textChange()">
                <span class="error" ng-show="text_pass1">{{languagePack.error_password}}</span>
                <!--<span class="error error1" ng-show="text_pass12">格式正确</span>-->
            </div>
            <div class="yzm">
                <input type="text" onkeyup="value=value.replace(/\D/g,'')"  placeholder="{{languagePack.home_Verification}}" ng-model="loginInfo.code" ng-change="textChange()">
                <span class="span1 C1SW" id="sendcode" ng-click="checkcode()">{{languagePack.home_Send}}</span>
                <span class="error" ng-show="text_code"></span>
            </div>
            <div class="change C1SB" ng-click="changing()" ng-hide="changed">{{languagePack.home_Useemail}}</div>
            <div class="change C1SB" ng-click="changing()" ng-hide="!changed">{{languagePack.home_Usephone}}</div>
        </div>
        <div class="phone_email2" ng-class="{'changed2':changed2}">
            <div class="country">
                <span class="C1TD CN">{{languagePack.home_country}}</span>
                <span class="C1SB COUNTRY">{{languagePack.home_China}}</span>
                <span class="downs" id="down_country2" ng-click="showCN()"></span>
                <div class="showcontry">
                    <div ng-if="lanbb=='zh'" ng-click="change_code($index)" ng-repeat="data in nationCodes" class="ncode">
                        <span class="item_ncode C1TD">+<span class="input_codenum C1TD">{{data[3]}}</span></span>
                        <span class="item_nname C1TD">{{data[2]}}</span>
                    </div>
                    <div ng-if="lanbb=='en'" ng-click="change_code($index)" ng-repeat="data in nationCodes" class="ncode">
                        <span class="item_ncode C1TD">+<span class="input_codenum C1TD">{{data[3]}}</span></span>
                        <span class="item_nname C1TD">{{data[1]}}</span>
                    </div>
                </div>
            </div>
            <div class="phone">
                <span class="phone_code">
                    <span class="sting">+</span>
                    <span class="code">86</span>
                </span>
                <input type="text" onkeyup="value=value.replace(/\D/g,'')" autofocus="autofocus" placeholder="{{languagePack.home_phone}}" ng-model="loginInfo.phone" ng-change="textChange()">
                <span class="error" ng-show="text_phone">{{languagePack.error_mobile}}</span>
                <!--<span class="error error1" ng-show="text_phone2">格式正确</span>-->
            </div>
            <div class="email"><input type="text" placeholder="{{languagePack.home_email}}" autofocus="autofocus" ng-model="loginInfo.email" ng-change="textChange()"><span class="error" ng-show="text_email">{{languagePack.error_email}}</span></div>
            <div class="password"><input type="password" placeholder="{{languagePack.home_password}}" ng-model="loginInfo.password" ng-change="textChange()"><span class="error" ng-show="text_pass">{{languagePack.error_format}}</span></div>
            <div class="remember C1TD"><input id="checkedreb" type="checkbox"><span>{{languagePack.home_Remember}}</span></div>
            <div class="change C1SB" ng-click="changing2()" ng-hide="changed2">{{languagePack.home_Useemail}}</div>
            <div class="change C1SB" ng-click="changing2()" ng-hide="!changed2">{{languagePack.home_Usephone}}</div>
        </div>
        <div class="phone_email3" ng-class="{'changed3':changed3,'newpw':newpw}">
            <div class="country">
                <span class="C1TD CN">{{languagePack.home_country}}</span>
                <span class="C1SB COUNTRY">{{languagePack.home_China}}</span>
                <span class="downs" id="down_country3" ng-click="showCN()"></span>
                <div class="showcontry">
                    <div ng-if="lanbb=='zh'" ng-click="change_code($index)" ng-repeat="data in nationCodes" class="ncode">
                        <span class="item_ncode C1TD">+<span class="input_codenum C1TD">{{data[3]}}</span></span>
                        <span class="item_nname C1TD">{{data[2]}}</span>
                    </div>
                    <div ng-if="lanbb=='en'" ng-click="change_code($index)" ng-repeat="data in nationCodes" class="ncode">
                        <span class="item_ncode C1TD">+<span class="input_codenum C1TD">{{data[3]}}</span></span>
                        <span class="item_nname C1TD">{{data[1]}}</span>
                    </div>
                </div>
            </div>
            <div class="phone">
                <span class="phone_code">
                    <span class="sting">+</span>
                    <span class="code">86</span>
                </span>
                <input type="text" onkeyup="value=value.replace(/\D/g,'')" autofocus="autofocus" placeholder="{{languagePack.home_phone}}" ng-model="loginInfo.phone" ng-change="textChange()">
                <span class="error" ng-show="text_phone">{{languagePack.error_mobile}}</span>
                <!--<span class="error error1" ng-show="text_phone2">格式正确</span>-->
            </div>
            <div class="email"><input type="text" autofocus="autofocus" placeholder="{{languagePack.home_email}}" ng-model="loginInfo.email" ng-change="textChange()"><span class="error" ng-show="text_email">{{languagePack.error_email}}</span></div>
            <div class="yzm">
                <input type="text" onkeyup="value=value.replace(/\D/g,'')"  placeholder="{{languagePack.home_Verification}}" ng-model="loginInfo.code" ng-change="textChange()">
                <span class="span1 C1SW" id="sendcode2" ng-click="checkcode2()">{{languagePack.home_Send}}</span>
                <span class="error" ng-show="text_code"></span>
            </div>

            <div class="password"><input type="password" placeholder="{{languagePack.home_password}}" ng-model="loginInfo.password" ng-change="textChange()"><span class="error" ng-show="text_pass">{{languagePack.error_format}}</span></div>
            <div class="password password2">
                <input type="password" placeholder="{{languagePack.home_confirm}}" maxlength="32" ng-model="loginInfo.compassword" ng-change="textChange()">
                <span class="error" ng-show="text_pass1">{{languagePack.error_password}}</span>
            </div>
            <div class="change C1SB" ng-click="changing3()" ng-hide="changed3">{{languagePack.home_Useemail}}</div>
            <div class="change C1SB" ng-click="changing3()" ng-hide="!changed3">{{languagePack.home_Usephone}}</div>
            <div class="ss2" ng-click="submit2()"><span class="C1SW">{{languagePack.home_ok}}</span><span id="error2"></span></div>
        </div>
        <div class="privacy C1TD"><input id="privacy_check" type="checkbox">{{languagePack.home_morn1}} <span><a class="C1TB" href="#/h5/service" target="_blank">{{languagePack.home_morn2}}</a></span>{{languagePack.home_morn3}}<span><a class="C1TB" href="#/h5/privacy" target="_blank">{{languagePack.home_morn4}}</a></span></div>
        <div class="ss" ng-click="submit()"><span class="C1SW">{{languagePack.home_Enter}}</span><span id="error"></span></div>
        <div class="forgot"><a class="C1TB" href="javascript:void(0)" ng-click="relo1ing()">{{languagePack.home_Forgot}}</a></div>
    </div>
</div>
<!--<script type="text/javascript" src="static/js/libs/jquery.event.drag-1.5.min.js"></script>-->
<script type="text/javascript" src="static/js/libs/jquery.touchSlider.js"></script>
<script src="static/js/common/common.js"></script>
<script src="static/js/libs/device.js"></script>