<!--选择爬虫应用-->
<div ng-include="'CrawlerApply.html'" id="Crawler" ng-controller="CrawlerApplycontroller" ng-if="crawler_close"></div>


<div class="overSet">
    <div class="over_logo">
        <div class="contain">
            <img src="static/img/whale.png" alt="">
            <span>鲸鱼爬虫</span>
        </div>
    </div>
    <div class="over_set">
        <div class="set1">
            <span class="span1">刷新</span>
            <span class="span2" ng-click="Crawler_close()">切换</span>
        </div>
        <div class="set2">
            <div class="s1">
                <img src="static/img/set1.png" alt="">
                <span>总览</span>
            </div>
            <div class="s1">
                <img src="static/img/set2.png" alt="">
                <span>爬虫设置</span>
            </div>
            <div class="s1">
                <img src="static/img/set3.png" alt="">
                <span>爬虫历史</span>
            </div>
            <div class="s1">
                <img src="static/img/set4.png" alt="">
                <span>爬虫结果</span>
            </div>
        </div>
    </div>
</div>

<div class="overHead">
    <span class="head_span1">修改密码</span>
    <span class="head_span2">退出</span>
</div>
<div id="overContain">
    <div class="contain1">
        <div class="title">海飞丝品牌舆情监控爬虫</div>
        <div class="con">
            <div class="zt">
                <div class="zt1">
                    <img src="static/img/going1.png" alt="">
                    <span>爬取中</span>
                </div>
                <div class="zt2">
                    启用于 2017/03/01 14:10:01
                </div>
                <div class="zt3">
                    定时运行（每天2:00开始）
                </div>
            </div>
            <div class="set">设置</div>
        </div>
    </div>
    <div class="contain2">
        <div class="shuju1">
            <div class="s1"><img src="static/img/overview1.png" alt=""></div>
            <div class="s2">
                <div class="ss">
                    <p class="p1">1,310,690</p>
                    <p class="p2">累计爬取数据量</p>
                </div>
            </div>
        </div>
        <div class="shuju1 shuju2">
            <div class="s1"><img src="static/img/overview2.png" alt=""></div>
            <div class="s2">
                <div class="ss">
                    <p class="p1">
                        85 <span>条/秒</span>
                    </p>
                    <p class="p2">累计爬取数据量</p>
                </div>
            </div>
        </div>
        <div class="shuju1 shuju3">
            <div class="s1"><img src="static/img/overview3.png" alt=""></div>
            <div class="s2">
                <div class="ss">
                    <p class="p1">859 <span>M</span></p>
                    <p class="p2">累计爬取数据量</p>
                </div>
            </div>
        </div>
        <div class="shuju1 shuju4">
            <div class="s1"><img src="static/img/overview4.png" alt=""></div>
            <div class="s2">
                <div class="ss">
                    <p class="p1">10 <span>个</span></p>
                    <p class="p2">累计爬取数据量</p>
                </div>
            </div>
        </div>
        <div class="shuju1 shuju5">
            <div class="s1"><img src="static/img/overview5.png" alt=""></div>
            <div class="s2">
                <div class="ss">
                    <p class="p1">102.5 <span>小时</span></p>
                    <p class="p2">累计爬取数据量</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contain3">
        <div class="today">
            <div class="title">今日爬取概况</div>
        </div>
        <div class="history today">
            <div class="title">
                爬取历史
                <a>详情</a>
            </div>
        </div>
    </div>
    <div class="contain4">
        <div class="title">
            <div class="title1">最新抓取结果</div>
            <div class="title2">
                <div class="selected" ng-click="select()">所有</div>
                <div class="select" ng-if="over_select">
                    <div class="select1" ng-click="select()">所有</div>
                    <div class="select1" ng-click="select()">舆情监控</div>
                    <div class="select1" ng-click="select()">在线电商品牌</div>
                </div>
            </div>
        </div>
    </div>
</div>