<!--选择爬虫应用-->
<div ng-include="'CrawlerApply.html'" id="Crawler" ng-controller="CrawlerApplycontroller" ng-if="crawler_close"></div>


<div ng-include="'overSet.html'" id="overSet" ng-controller="overSetcontroller"></div>
<div ng-include="'overHead.html'" id="overHead" ng-controller="overHeadcontroller"></div>

<div id="overContain">
    <div class="contain1">
        <div class="title" title="{{overCurrentTask.appDesc}}">{{overCurrentTask.appName}}</div>
        <div class="con">
            <div class="zt">
                <div class="zt1">
                    <img ng-if="overCurrentTask.status=='1'" ng-src="static/img/going1.png" alt="">
                    <img ng-if="overCurrentTask.status=='0'" ng-src="static/img/going2.png" alt="">
                    <img ng-if="overCurrentTask.status=='2'" ng-src="static/img/going2.png" alt="">
                    <span ng-class="{'aa':overCurrentTask.status=='1','as':overCurrentTask.status=='0','ad':overCurrentTask.status=='2'}">{{ overCurrentTask.status | crawlerstatus}}</span>
                </div>
                <div class="zt2">
                    开始时间 {{overCurrentTask.startTime | date:"yyyy-MM-dd HH:mm:ss"}}
                </div>
                <div class="zt2" ng-if="overCurrentTask.status!='1'">
                    结束时间 {{overCurrentTask.endTime | date:"yyyy-MM-dd HH:mm:ss"}}
                </div>
                <div class="zt3">
                    定时运行（间隔时间{{overCurrentTask.intervaltime | changeinterval}}）
                </div>
            </div>
            <div class="set"><a ng-href="#/setup">设置</a></div>
        </div>
    </div>
    <div class="contain2">
        <div class="shuju1">
            <div class="s1"><img src="static/img/overview1.png" alt=""></div>
            <div class="s2">
                <div class="ss">
                    <p class="p1">{{overApplyDetail.totalCount | number}}</p>
                    <p class="p2">累计爬取数据量</p>
                </div>
            </div>
        </div>
        <div class="shuju1 shuju2">
            <div class="s1"><img src="static/img/overview2.png" alt=""></div>
            <div class="s2">
                <div class="ss">
                    <p class="p1">
                        {{overApplyDetail.speed}} <span>条/秒</span>
                    </p>
                    <p class="p2">平均爬取速度</p>
                </div>
            </div>
        </div>
        <div class="shuju1 shuju3">
            <div class="s1"><img src="static/img/overview3.png" alt=""></div>
            <div class="s2">
                <div class="ss">
                    <p class="p1"><home-kmg ng-if="overApplyDetail" creattime="overApplyDetail.totalFileSize"></home-kmg></p>
                    <p class="p2">占用存储空间</p>
                </div>
            </div>
        </div>
        <div class="shuju1 shuju4">
            <div class="s1"><img src="static/img/overview4.png" alt=""></div>
            <div class="s2">
                <div class="ss">
                    <p class="p1">{{queryApplicationCrawlNum}} <span>个</span></p>
                    <p class="p2">爬虫节点数</p>
                </div>
            </div>
        </div>
        <div class="shuju1 shuju5">
            <div class="s1"><img src="static/img/overview5.png" alt=""></div>
            <div class="s2">
                <div class="ss">
                    <p class="p1"><home-hours ng-if="overApplyDetail" creattime="overApplyDetail.costTime"></home-hours></p>
                    <p class="p2">累计爬取时间</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contain3">
        <div class="today">
            <div class="title">今日爬取概况</div>
            <div id="echarts_zhe"></div>
        </div>
        <div class="history today">
            <div class="title">
                爬取历史
                <a ng-href="#/history">详情</a>
            </div>
            <div id="echarts_zhu"></div>
        </div>
    </div>
    <div class="contain4">
        <div class="title">
            <div class="title1">最新抓取结果</div>
            <div class="title2" ng-class="{'select_change':select_change}">
                <div class="selected" id="selected" ng-click="select(null,$event)">所有</div>
                <div class="select" ng-if="over_select">
                    <div class="select1" ng-click="select('所有',$event)">所有</div>
                    <div class="select1" ng-repeat="list in DataCategory" ng-click="select(list,$event)">{{list}}</div>
                </div>
            </div>
            <div class="all"><a ng-href="#/result">全部</a></div>
        </div>
        <order-list picloading="picloading" orderlist="querybycategory"></order-list>
    </div>
</div>
<detail-list></detail-list>
