<div id="paging">
    <ul class="pagingcontain">
        <li ng-class="{true:'page_disabled'}[p_current==1]"><a href="javascript:void(0);" ng-click="p_index()">首页</a></li>
        <li ng-repeat="page in pages" ng-class="{true:'page_active'}[p_current==page]"><a href="javascript:void(0);" ng-click="load_page(page)">{{ page }}</a></li>
        <li ng-class="{true:'page_disabled'}[p_current==p_all_page]"><a href="javascript:void(0);" ng-click="p_last()">尾页</a></li>
    </ul>
    <span>  共：{{count}} 条</span>
</div>