<div>
    <div class="task">
        <ul class="task_title">
            <li class="task_list1">爬取时间</li>
            <li class="task_list2">修改时间</li>
            <li class="task_list3">大小</li>
            <li class="task_list4">数据条数</li>
            <li class="task_list5"></li>
        </ul>
        <ul class="task_list" ng-class="{task_listeven: !$even, task_listodd: !$odd}" ng-repeat="list in order">
            <li class="task_list1" ng-bind="list.time"></li>
            <li class="task_list2" ng-bind="list.modifytime"></li>
            <li class="task_list3" ng-bind="list.size"></li>
            <li class="task_list4" ng-bind="list.num"></li>
            <li class="task_list5">
                <span ng-click="details_change($index)" ng-bind="'下载'"></span>
            </li>
        </ul>
    </div>
</div>